<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Hungarian Algorithm Visualized</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css.css">
</head>

<body>
    <h1>The Hungarian Algorithm Visualized</h1>
    <div id="builder">
        <h2>Random initialization</h2>
        <form>
            <p><label>Size: <input type="number" min="1" max="10" v-model="size" size="3"></label></p>
            <p><label>Seed: <input type="number" min="1" max="1000000" v-model="seed" size="10"></label></p>
            <p><button @click.prevent='build_random'>Go</button></p>
        </form>
        <h2>Custom</h2>
        <form>
            <textarea rows="10" cols="30" v-model="custom"></textarea>
            <p><button @click.prevent='build_custom'>Go</button></p>
        </form>
    </div>
    <div id="hungarian" style="display: none;">
        <div class="flex-container">
            <div>
                <p>Costs and labels</p>
                <table class="costs-table">
                    <tr>
                        <td></td>
                        <td v-for="col in cols">{{ col.str }}</td>
                    </tr>
                    <tr v-for="row in rows">
                        <td>{{ row.str }}</td>
                        <td v-for="col in cols" :class="{matched: col.matched_row === row, cost: true}">
                            {{ costs[row.i][col.j] }}
                        </td>
                        <td>{{ row.label }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td v-for="col in cols">{{ col.label }}</td>
                    </tr>
                </table>
            </div>

            <div>
                <p>Deltas</p>
                <table class="deltas-table">
                    <tr>
                        <td></td>
                        <td v-for="col in cols">{{ col.str }}</td>
                    </tr>
                    <tr v-for="row in rows">
                        <td>{{ row.str }}</td>
                        <td v-for="col in cols" :class="{
                        matched: col.matched_row === row,
                        'find-min': row.visited && col.path === null,
                        cost: true,
                        min: min_delta_row === row && min_delta_col === col}">
                            {{ costs[row.i][col.j] - row.label - col.label }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <p>
            <button @click="do_step">Next step: {{ next_step_str }}</button>
        </p>

        <svg width="500" :height="2*(d.YM + d.R) + (2*d.R + d.YM) * (n-1)">
            <!-- row nodes -->
            <g v-for="(row, i) in rows">
                <circle :cx="d.X1" :cy="d.YM + d.R + (2*d.R + d.YM) * i" :r="d.R"
                    :stroke="row.visited ? '#33f' : (row.matched_col ? '#696' : 'grey')"
                    :stroke-width="row.visited || row.matched_col ? 3 : 1" fill="#bbb" />
                <text :x="d.X1 - 2*d.R" :y="d.YM + d.R + (2*d.R + d.YM) * i" dominant-baseline="middle"
                    text-anchor="middle">{{ row.str }}</text>
                <text :x="d.X1" :y="d.YM + d.R + (2*d.R + d.YM) * i" dominant-baseline="middle"
                    text-anchor="middle">{{ row.label }}</text>
                <polygon v-if="row.head" points="-3,-.4 -1,-.4 -1,-1 0,0 -1,1 -1,.4 -3,.4" fill="#33f"
                    :transform="'translate('+(d.X1-d.R-25)+' '+(d.YM + d.R + (2*d.R + d.YM) * i)+') scale(10)'" />
            </g>

            <!-- col nodes -->
            <g v-for="(col, j) in cols">
                <circle :cx="d.X2" :cy="d.YM + d.R + (2*d.R + d.YM) * j" :r="d.R"
                    :stroke="col.path ? '#33f' : (col.matched_row ? '#696' : 'grey')"
                    :stroke-width="col.path || col.matched_row ? 3 : 1" fill="#bbb" />
                <text :x="d.X2" :y="d.YM + d.R + (2*d.R + d.YM) * j" dominant-baseline="middle"
                    text-anchor="middle">{{ col.label }}</text>
                <text :x="d.X2 + 2*d.R" :y="d.YM + d.R + (2*d.R + d.YM) * j" dominant-baseline="middle"
                    text-anchor="middle">{{ col.str }}</text>
                <polygon v-if="col.head" points="-3,-.4 -1,-.4 -1,-1 0,0 -1,1 -1,.4 -3,.4" fill="#33f"
                    :transform="'translate('+(d.X2+d.R+25)+' '+(d.YM + d.R + (2*d.R + d.YM) * j)+') scale(-10 10)'" />
            </g>

            <!-- edges -->
            <g v-for="(row, i) in rows">
                <g v-for="(col, j) in cols">
                    <line v-if="costs[i][j] &lt;= row.label + col.label" :x1="d.X1 + d.R"
                        :y1="d.YM + d.R + (2*d.R + d.YM) * i" :x2="d.X2 - d.R" :y2="d.YM + d.R + (2*d.R + d.YM) * j"
                        :stroke="col.matched_row === row ? (col.is_path_real ? '#484' : '#7a7') : (col.path === row ? (col.is_path_real ? '#33f' : '#99f') : 'black')"
                        :stroke-width="col.matched_row === row || col.path === row ? 3 : 1" />
                </g>
            </g>
        </svg>
    </div>

    <script src="js.js"></script>
</body>

</html>